<div class="bg-cyan-100">
    <div class="container pt-4">
        <div class="d-flex justify-content-between">
            <div class="col-2">
                <img id="logo-header" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Logo_de_la_Universidad_de_La_Guajira.svg/1200px-Logo_de_la_Universidad_de_La_Guajira.svg.png" alt="">
            </div>
            <div class="col-2" >
                <h4>SITE ALMACEN</h4>
            </div>
            <div class="col-7" >
                <p-menubar  [model]="opc" [style]="estilosMenu">
                    <ng-template pTemplate="start">
                        <img src="https://www.primefaces.org/presskit/primeng-logo.png" height="40" class="p-mr-2">
                    </ng-template>
                </p-menubar>
            </div>
        </div>
        
    </div>
</div>